body {
  display:block;
  margin: auto;
}

form { 
  & div {
    margin:0;
    padding:0;
  }
  & input, button {
    width:100%;
    max-width: 400px;
    min-width: 200px;
    line-height: 1.7;
    border-radius: 10;
    padding:2px;
    margin:4px;
  }
  & button {
    background-color: #2890de
  }
}

#showNumDaysForm {
  & input {
    width:90%;
    margin-left:0px;
    margin-right:0px;
    padding-left:10px;
  }
}

#error {
  color: rgb(184, 42, 42);
  font-weight: bold;
}

#addressFrom .columns.two-columns {
  min-height:40px;
}

#root {
  margin-top: 1.1rem;
  padding-top: 0;
  text-align: center;
  place-items: normal;
  min-height:inherit
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1.header {
  font-size: 1.4em;
}

#footer h1.header {
  font-size: 1.3em;
}

.large {
  font-size: 30pt;
}

.mostlyLarge {
  font-size: 20pt;
}

.semiLarge {
  font-weight:bold;
  font-size:16pt;
}

.littleBigger {
  font-size: 110%
}

.responsive.screenXSmall {
  & .large {
    font-size: 18pt;
  }
  & .semiLarge {
    font-size:14pt
  }
  & .littleBigger {
    font-size:108%  
  }
  & .responsive.screenXSmall {
    font-size: 90%
  }
}

.responsive.screenSmall {
  & .columns .column.left-justify, .columns .column.right-justify {
    justify-content: center;
  }
}
.responsive.screenMed {
  & #featuredConditions {
    & .columns .column.left-justify, .columns .right-justify {
      justify-content: center;
    }
  }
  & #showNumDaysForm {
    & input {
      width: 90%;
      margin-left:10px;
      margin-right:10px;
    }
  }
}


#weatherGrid {
  background:#aec1e9;
  padding-top:10px;
  padding-bottom:10px;

  & .large {
    font-size: 22pt
  }
  & .mostlyLarge {
    font-size: 16pt
  }
  & .semiLarge {
    font-size: 14pt
  }
  & .responsive.screenXSmall {
    & .large {
      font-size: 20pt;
    }
    & .semiLarge  {
      font-size: 13pt
    }
  }
}

h1, h2, h3, h4, h5 {
  color: #555;
  font-family: 'Tilt Warp';
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  font-size: 1.3em;
}

.theme-dark {
  & h1,h2,h3,h4,h5 {
    color: #fff;
  }
}

.featured {
  & h1,h2,h3,h4,h5 {
    color: #fff;
  }
}

#footer h2 {
  font-size: 1.2em;
}

div {
  margin-bottom:0.5rem;
}

ul {
  margin: 10px;
  padding: 0;
}

.logo {
  padding: 1.1em;
  will-change: filter;
  transition: filter 300ms;
}

.app-logo {
  width: 70%;
  min-width: 350px;
  max-width: 575px;
}

.react-logo, .vite-logo {
  width: 10%;
  min-width: 30px;
  max-width: 60px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react-logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.container {
  margin: auto;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1.2em;
  overflow: visible;
}

.gridBlock .grid.container {
  margin-top: 0.5em;
}

.dayBlock .summaryTime {
  display:none
}

.grid.container .grid.container {
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card {
  padding: 2em;
  background-color: white;
  border-radius: 10px;
  box-shadow: -3px -3px 5px rgb(0 0 0 / 12%), 3px 3px 5px rgb(0 0 0 / 10%);
}

.read-the-docs {
  color: #888;
}

.featured {
  background-color: #494a71;
  color: #fff;
  padding-top: 9px;
  & .summaryTime {
    display:none;
  }
}

.weather-icon {
  margin:0;
  padding:0;
  text-align:left;
  height:0px;
  width:0px;
  & img {
    min-height: 50px;
    margin-top: 4px;
  }
}

.featured .weather-icon img {
    /*
    filter: invert(1);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);
    */
    position:relative;
    width: 90px;
    height: 90px;
    max-heigh:90px;
    top: -20px;
    left: -15px;
}

.screenXSmall .featured .weather-icon img {
  top: -30px
}

.gridBlock .weather-icon img {
  height: 64px;
  position: relative;
  top:-13px;
  left:-14px;
}

.conditions-temp {
  text-align:right;
  margin-right: -10px
}

.summaryShortForecast {
  margin-top: -15px;
}

#footer {
  margin-top: 2em;
  margin-bottom:0;
  padding-bottom: 0.5em;
  background: #002334;
  color: #fff;
  padding-top: 1em;
  width: 100%;
  margin-top: auto;
}

.columns {
  display: flex;
  flex-wrap:wrap;
  & .column {
    display: flex;
    justify-content:center;
    flex: 1 1;
    align-items: inherit;
    justify-content: space-around
  }
}

.columns.two-columns {
  & .column {
    position: flex;
    flex: 1;
  }
  & .column.right-justify {
    justify-content: right;
  }
  & .column.left-justify {
    justify-content: left;
  }
}

.grid-items {
  gap: 0.55rem;
}

.callout {
  padding:5px;
}

.gridBlock, .callout {
  background-color: #fcfbfb;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom:0px;
  font-size: 85%;
}

#currentLocalConditions .grid.container {
  margin: auto;
  max-width:800px;
}

.weatherGridRowWrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.gridRow.default {
  padding-top:10px;
}

.summaryHead {
  color:#0091ff;
  font-size:12pt;
}

#addressForm {
  & .columns.two-columns {
    min-height:40px;
  }
  & button {
    background-color:#8c427f
  }
}